.container{
    margin-top: 100px;
}
p, a, h1{
    color: #fff;
}
.nav-link{
    color: #fff !important;
}
.jumbotron h1{
    color: #000;
}
body{

    background-color: rgba(26,25,31,1);
    color: #fff;
    height: 100%;
}

.navbar{

    position: fixed;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-link, .nav-link:hover{
    color: #111;
}

.nav-btn{
    border: #fff solid 1px;
    border-radius: 5px;
    margin-left: 10px;
}

.img-container{
    padding: 0;
}
.img{
    height: 160px;
    background-size: cover;
}
.img-full{
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: 0;
    background-size: cover;
    background-repeat:no-repeat;
}



