{% include "default/header.html.twig" %}

<div class="container">

    <div class="row">

    {{ render(controller(
        'AppBundle\\Controller\\AdminController::listMovie'
    )) }}

    {{ render(controller(
        'AppBundle\\Controller\\AdminController::listUsers'
    )) }}

    </div>

</div>
