<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des movies</title>
</head>
<body>
<h1>Liste des movies</h1>
{% for movie in movies %}
    <p>{{ movie.name }}</p>
    <a href="{{ path('profil_movie', {'id': movie.id}) }}">view movie</a>
{% endfor %}
<br/><br/>
<a href="{{ path('sign_out') }}">logout</a>
</body>
</html>