{% include "default/header.html.twig" %}

<h1>Liste des movies</h1>
{% for movie in movies %}
    <p>{{ movie.name }}</p>
    <a href="{{ path('profil_movie', {'id': movie.id}) }}">view movie</a>
{% endfor %}

</body>
</html>