{% include "default/header.html.twig" %}

<div class="container">
<h1>Liste des articles</h1>
{% for user in users %}
    <p>{{ user.username }}</p>
    <a href="{{ path('profil_user', {'id': user.id}) }}">view user</a>
{% endfor %}
</div>
</body>
</html>